{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}

<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, world!</h1>
          <p>Our iCoder site publishes all the coding related informations and articles.</p>
          <p><a class="btn btn-primary btn-lg" href="/blog" role="button">Go To Blog »</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h3>Founder : </h3>
            <p><h2><b>Avadhoot Autade</b><h2></p>
            
          </div>
          <div class="col-md-4">
            <h2></h2>
            <p></p>
            
          </div>
          <div class="col-md-4">
            <h2></h2>
            <p></p>
            
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
{% endblock body %}