{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}
<div class="container my-4">
<div class="jumbotron">
  <h1 class="display-4">Welcome to icoder!</h1>
  <p class="lead">This is a world-class blogging site you have never seen before!</p>
  <hr class="my-4">
  <p><h3>Made By Avadhoot Autade</h3></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
  </p>
</div>

</div>


{% endblock body %}